@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-background: #eaeaea;
  --color-primary: #1c1c27;
  --color-secondary: #838383;
  --color-accent: #ffa542;
  --color-light-accent: #ffce7f;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-montserrat);
}
